<%- include('./partials/header.ejs')%>

<div class="finding-menu">
  <h2>Find drink you want to prepare</h2>
  <form action="/find" method="get">
    <label for="name">Enter the name of the drink or part of it:</label>
    <input type="text" name="name" id="name" required>
    <button type="submit">SEARCH</button>
  </form>
</div>

<div id="data-container"></div>
<div id="pagination-container"></div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="pagination.js"></script>

<script>
  var dataReceived = <%- JSON.stringify(data)%>;
</script>

<script>
  if (dataReceived.length !== 0) {
    $('#pagination-container').pagination({
      dataSource: dataReceived,
      pageSize: 3,
      className: 'paginationjs-big',
      callback: function(data, pagination) {
        var html = singlePageTemplate(data);
        $('#data-container').html(html);
      }
    })
  } else {
    var html = "<h3>We couldn't find the drink you were looking for 👻</h3>";
    $('#data-container').html(html);
  }


  function singlePageTemplate(data) {
    let htmlString = '<div class="finding-results">';
    data.forEach(drink => {
      htmlString += `<div class="drink-card">`
      htmlString += `<a href="/drink/${drink.id}"><h3>${drink.name}</h3></a>`;
      htmlString += `<img src="${drink.imageURL}" alt="drink image">`;
      htmlString += templateIndgredients(drink);
      htmlString += `</div>`
    });
    htmlString += '</div>';
    return htmlString;
  }

  function templateIndgredients(drink) {
    console.log(drink);
    let html = `<p>`;
    if (drink.ingredient1.name != null) {
      html += `${drink.ingredient1.name} `;
    }
    if (drink.ingredient2.name != null) {
      html += `${drink.ingredient2.name} `;
    }
    if (drink.ingredient3.name != null) {
      html += `${drink.ingredient3.name} `;
    }
    if (drink.ingredient4.name != null) {
      html += `${drink.ingredient4.name} `;
    }
    if (drink.ingredient5.name != null) {
      html += `${drink.ingredient5.name} `;
    }
    if (drink.ingredient6.name != null) {
      html += `${drink.ingredient6.name} `;
    }
    if (drink.ingredient7.name != null) {
      html += `${drink.ingredient7.name} `;
    }
    if (drink.ingredient8.name != null) {
      html += `${drink.ingredient8.name} `;
    }
    if (drink.ingredient9.name != null) {
      html += `${drink.ingredient9.name} `;
    }
    if (drink.ingredient10.name != null) {
      html += `${drink.ingredient10.name} `;
    }
    if (drink.ingredient11.name != null) {
      html += `${drink.ingredient11.name} `;
    }
    if (drink.ingredient12.name != null) {
      html += `${drink.ingredient12.name} `;
    }
    if (drink.ingredient13.name != null) {
      html += `${drink.ingredient13.name} `;
    }
    if (drink.ingredient14.name != null) {
      html += `${drink.ingredient14.name} `;
    }
    if (drink.ingredient15.name != null) {
      html += `${drink.ingredient15.name} `;
    }
    html += `</p>`
    return html;
  }
</script>

<%- include('./partials/footer.ejs')%>