<%- include('./partials/header.ejs')%>

<div class="content">
  <div class="finding-menu">
    <h2>Enter the name of the drink or part of it:</h2>
    <form action="/find" method="get">
      <input class="input-custom1" type="text" name="name" id="name" required>
      <button class="btn-custom1" type="submit">SEARCH</button>
    </form>
  </div>

  <div id="data-container"></div>
  <div id="pagination-container"></div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="pagination.js"></script>

<script>
  var dataReceived = <%- JSON.stringify(data)%>;
</script>

<script>
  const params = new URLSearchParams(window.location.search);
  if (params.get('name') != null) {
    localStorage.setItem("searchedPhrase", params.get('name'))
  }
  if (dataReceived.length !== 0) {
    $('#pagination-container').pagination({
      dataSource: dataReceived,
      pageSize: 9,
      className: 'paginationjs-big',
      callback: function(data, pagination) {
        var html = `<h3>Search results for "${localStorage.getItem("searchedPhrase")}"</h3>`;
        html += singlePageTemplate(data);
        $('#data-container').html(html);
      }
    })
  } else if (window.location.pathname != '/') {
    var html = `<h3>We couldn't find a drink containing "${localStorage.getItem("searchedPhrase")}"  👻</h3>`;
    $('#data-container').html(html);
  } else {
    var html = "<img id='drink-icon' src='/pictures/drink_icon.png'>";
    $('#data-container').html(html);
  }

  function singlePageTemplate(data) {
    let htmlString = '<div class="finding-results">';
    console.log(data[0].name + " " + data[0].ingredients.length);
    data.forEach(drink => {
      htmlString += `<div class="drink-card" onclick="window.location='/drink/${drink.id}'">`;
      htmlString += `<div class="card-img">`;
      htmlString += `<img src="${drink.imageURL}" alt="drink image">`;
      htmlString += `</div>`;
      htmlString += `<div class="card-content">`;
      htmlString += `<h3>${drink.name}</h3>`;
      htmlString += templateIndgredients(drink);
      htmlString += `</div>`;
      htmlString += `</div>`;
    });
    htmlString += '</div>';
    return htmlString;
  }

  function templateIndgredients(drink) {
    let html = `<p>`;
    let size = drink.ingredients.length <= 5 ? drink.ingredients.length : 5;
    for (let i = 0; i < size; i++) {
      if (drink.ingredients[i].name != null) {
        html += `${drink.ingredients[i].name} <br>`;
      }
    }
    if (drink.ingredients.length > 5) {
      html += '⚬⚬⚬';
    }
    html += `</p>`
    return html;
  }
</script>

<%- include('./partials/footer.ejs')%>