<%- include('./partials/header.ejs')%>

<div id="content">
  <div class="finding-menu">
    <h2>Find drink you want to prepare</h2>
    <form action="/find" method="get">
      <label for="name">Enter the name of the drink or part of it:</label>
      <input type="text" name="name" id="name" required>
      <button type="submit">SEARCH</button>
    </form>
  </div>

  <div id="data-container"></div>
  <div id="pagination-container"></div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="pagination.js"></script>

<script>
  var dataReceived = <%- JSON.stringify(data)%>;
</script>

<script>
  if (dataReceived.length !== 0) {
    $('#pagination-container').pagination({
      dataSource: dataReceived,
      pageSize: 9,
      className: 'paginationjs-big',
      callback: function(data, pagination) {
        var html = singlePageTemplate(data);
        $('#data-container').html(html);
      }
    })
  } else {
    if (window.location.pathname != '/') {
      var html = "<h3>We couldn't find the drink you were looking for 👻</h3>";
      $('#data-container').html(html);
    }
  }

  function singlePageTemplate(data) {
    let htmlString = '<div class="finding-results">';
    data.forEach(drink => {
      htmlString += `<div class="drink-card">`
      htmlString += `<div class="card-img">`
      htmlString += `<img src="${drink.imageURL}" alt="drink image">`;
      htmlString += `</div>`
      htmlString += `<div class="card-content">`
      htmlString += `<a href="/drink/${drink.id}"><h3>${drink.name}</h3></a>`;
      htmlString += templateIndgredients(drink);
      htmlString += `</div>`
      htmlString += `</div>`
    });
    htmlString += '</div>';
    return htmlString;
  }

  function templateIndgredients(drink) {
    let html = `<p>`;
    for (let i = 0; i < drink.ingredients.length; i++) {
      if (drink.ingredients[i].name != null) {
        html += `${drink.ingredients[i].name} <br>`;
      }
    }
    html += `</p>`
    return html;
  }
</script>

<%- include('./partials/footer.ejs')%>