<%- include('./partials/header.ejs')%>

<div class="drink-details-container">
  <h3>TODO</h3>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<%- include('./partials/footer.ejs')%>