@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --drink-card-width: 400px;
  --drink-card-height: 200px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff5cd;
}

#header {
  text-align: center;
  background-color: #b7e0ff;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-image: url("/pictures/bar.jpg");
  background-size: cover;
  background-position: center;
  color: #ff6a53;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  font-family: "Mynerve", cursive;
  font-size: 80px;
}

#header > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

#drink-icon {
  height: 150px;
  margin-top: 25px;
}

.btn-custom1 {
  border: 1.5px solid #000000;
  background-color: #ff6a53;
  color: #fff5cd;
  font-family: "Alata", sans-serif;
  border-radius: 15%/30%;
  border-radius: 20px/20px;
  height: 40px;
  aspect-ratio: 2/1;
  font-size: 16px;
}

.input-custom1 {
  height: 40px;
  width: 160px;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: 1.5px solid #000000;
  border-radius: 20px/20px;
  font-size: 16px;
  font-family: "Alata", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Alata", sans-serif;
  margin-left: 15vw;
  margin-right: 15vw;
}

.drink-card {
  display: flex;
  border: 1px solid transparent;
  width: var(--drink-card-width);
  height: var(--drink-card-height);
  text-align: right;
  border-radius: 5%/10%;
  background: linear-gradient(-45deg, #e39285, #fca19b, #f8de77, #ffbd97);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.btn-custom1:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.drink-card:hover {
  color: #fff5cd;
  background: local;
  background-color: #ff6a53;
  border: 1px solid black;
  cursor: pointer;
}

#page-title:hover {
  cursor: pointer;
}

.drink-details-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 75px;
}

.flex-1 {
  flex: 4;
  text-align: right;
  margin-right: 25px;
}

.flex-2 {
  flex: 4;
  margin-right: 50px;
}

.flex-3 {
  border-left: 1px solid black;
  flex: 2;
  padding-left: 25px;
}

.ingredient-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.drink-details-container .img-drink {
  height: 500px;
  border-radius: 15%;
}

.img-ingredients {
  height: 100px;
}

.drink-card a {
  text-decoration: none;
}

.drink-card img {
  height: calc(var(--drink-card-width) / 2);
  aspect-ratio: 1/1;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.card-content {
  width: 100%;
  margin-right: calc(0.05 * var(--drink-card-width));
}

#return-btn {
  margin-top: 50px;
}

#footer {
  background-color: #e78f81;
  margin-top: auto;
  font-family: "Alata", sans-serif;
  text-align: center;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.finding-menu {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

#data-container {
  width: 100%;
  text-align: center;
}

.finding-results {
  margin-bottom: 50px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 50px;
}

#pagination-container {
  margin-bottom: 100px;
}

.btn-footer {
  background-color: transparent;
  border: none;
}
