body {
  background-color: rgb(59, 102, 244);
}

.header {
  text-align: center;
  background-color: rgb(162, 162, 255);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.finding-menu {
  margin-left: 20vw;
  margin-right: 20vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.finding-results {
  margin-left: 20vw;
  margin-right: 20vh;
  margin-bottom: 25px;
  background-color: rgb(254, 184, 255);
}

.finding-results img {
  height: 200px;
  aspect-ratio: 1/1;
}

#pagination-container {
  margin-left: 25vw;
}

.btn-footer {
  background-color: transparent;
  border: none;
}
